<div class="columns is-centered is-multiline is-mobile">
  {% assign platform_info = 
  '{ "windows": { "name": "Windows", "icon": "fa-brands fa-windows" },
     "macos": { "name": "macOS", "icon": "fa-brands fa-apple" },
     "linux": { "name": "Linux", "icon": "fa-brands fa-linux" },
     "ps5": { "name": "PlayStation 5", "icon": "fa-brands fa-playstation" },
     "xbox": { "name": "Xbox Series X", "icon": "fa-brands fa-xbox" },
     "switch": { "name": "Nintendo Switch", "icon": "fa-solid fa-gamepad" },
     "web": { "name": "Web", "icon": "fa-solid fa-globe" },
     "ios": { "name": "iOS", "icon": "fa-brands fa-app-store-ios" },
     "android": { "name": "Android", "icon": "fa-brands fa-google-play" }
   }' | jsonify %}

  {% for project in site.data.projects %}
    {% if project.type != 'game' %}
      <div class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
        id="project-card">
        <a href="{{project.link}}">
        <div class="has-background-black card">
          <figure class="image is-3by1" style="background-image: url({{project.image}});">
          </figure>
          <div class="card-content">
            <h1 class="title has-text-white is-size-4">{{ project.name }}</h1>
            <p class="has-text-white has-text-weight-light content">{{ project.description | truncate: 80}}</p>
            {% if project.platforms %}
            <div class="platform-icons has-text-white mt-4">
              {% assign platform_data = platform_info | fromjson %}
              {% assign sorted_platforms = project.platforms | sort %}
              {% for platform_id in sorted_platforms %}
                {% assign platform = platform_data[platform_id] %}
                <span class="icon is-medium" title="{{ platform.name }}">
                  <i class="{{ platform.icon }}"></i>
                </span>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>