<div class="columns is-centered is-multiline is-mobile">
  {% assign platform_info = 
  '{ "windows": { "name": "Windows", "icon": "fa-brands fa-windows" },
     "macos": { "name": "macOS", "icon": "fa-brands fa-apple" },
     "linux": { "name": "Linux", "icon": "fa-brands fa-linux" },
     "ps5": { "name": "PlayStation 5", "icon": "fa-brands fa-playstation" },
     "xbox": { "name": "Xbox Series X", "icon": "fa-brands fa-xbox" },
     "switch": { "name": "Nintendo Switch", "icon": "fa-solid fa-gamepad" },
     "web": { "name": "Web", "icon": "fa-solid fa-globe" },
     "ios": { "name": "iOS", "icon": "fa-brands fa-app-store-ios" },
     "android": { "name": "Android", "icon": "fa-brands fa-google-play" }
   }' | jsonify %}

  {% for project in site.data.projects %}
    {% if project.type != 'game' %}
      <div class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch">
        <a href="{{project.link}}">
        <div class="game-card">
          <div class="game-card-image">
            {% if project.image %}
              <img src="{{site.url}}{{site.baseurl}}{{project.image}}" alt="{{project.name}}" />
            {% else %}
              <img src="{{site.url}}{{site.baseurl}}/assets/images/game-placeholder.png" alt="{{project.name}}" />
            {% endif %}
          </div>
          <div class="game-card-content">
            <div class="game-name">{{project.name}}</div>
            <div class="game-platforms">
              {% if project.platforms %}
              {% assign platform_data = platform_info | fromjson %}
              {% assign sorted_platforms = project.platforms | sort %}
              {% for platform_id in sorted_platforms %}
                {% assign platform = platform_data[platform_id] %}
                <span class="platform-icon" title="{{ platform.name }}">
                  <i class="{{ platform.icon }}"></i>
                </span>
              {% endfor %}
              {% endif %}
            </div>
            <div class="game-description">{{project.description | truncate: 80}}</div>
          </div>
        </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>