{% if project %}
<div class="card">
    {% if project.image %}
    <div class="card-image">
        <figure class="image">
            <img src="{{site.url}}{{site.baseurl}}{{project.image}}" alt="{{project.name}}">
        </figure>
    </div>
    {% endif %}
    <div class="card-content">
        <div class="content">
            <h1 class="title is-4">{{ project.name }}</h1>
            <p>{{ project.description }}</p>
        </div>
    </div>
    <footer class="card-footer">
        <a href="{{ site.baseurl }}{{ project.link }}" class="card-footer-item">Learn More</a>
    </footer>
</div>
{% endif %}