<div class="social-links">
    {% if site.facebook_username %}
    <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank" class="social-link">
        <i class="fab fa-facebook fa-2x"></i>
        <span>Facebook</span>
    </a>
    {% endif %}
    
    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="social-link">
        <i class="fab fa-twitter fa-2x"></i>
        <span>Twitter</span>
    </a>
    {% endif %}
    
    {% if site.instagram_username %}
    <a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank" class="social-link">
        <i class="fab fa-instagram fa-2x"></i>
        <span>Instagram</span>
    </a>
    {% endif %}
    
    {% if site.linkedin_username %}
    <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" class="social-link">
        <i class="fab fa-linkedin fa-2x"></i>
        <span>LinkedIn</span>
    </a>
    {% endif %}
    
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}" target="_blank" class="social-link">
        <i class="fab fa-github fa-2x"></i>
        <span>GitHub</span>
    </a>
    {% endif %}
    
    {% if site.youtube_channel_id %}
    <a href="https://youtube.com/channel/{{ site.youtube_channel_id }}" target="_blank" class="social-link">
        <i class="fab fa-youtube fa-2x"></i>
        <span>YouTube</span>
    </a>
    {% endif %}
    
    {% if site.reddit_username %}
    <a href="https://reddit.com/u/{{ site.reddit_username }}" target="_blank" class="social-link">
        <i class="fab fa-reddit fa-2x"></i>
        <span>Reddit</span>
    </a>
    {% endif %}
    
    {% if site.behance_username %}
    <a href="https://behance.net/{{ site.behance_username }}" target="_blank" class="social-link">
        <i class="fab fa-behance fa-2x"></i>
        <span>Behance</span>
    </a>
    {% endif %}
    
    {% if site.dribbble_username %}
    <a href="https://dribbble.com/{{ site.dribbble_username }}" target="_blank" class="social-link">
        <i class="fab fa-dribbble fa-2x"></i>
        <span>Dribbble</span>
    </a>
    {% endif %}
    
    {% if site.spotify_username %}
    <a href="https://open.spotify.com/user/{{ site.spotify_username }}" target="_blank" class="social-link">
        <i class="fab fa-spotify fa-2x"></i>
        <span>Spotify</span>
    </a>
    {% endif %}
    
    {% if site.tiktok_username %}
    <a href="https://www.tiktok.com/@{{ site.tiktok_username }}" target="_blank" class="social-link">
        <i class="fab fa-tiktok fa-2x"></i>
        <span>TikTok</span>
    </a>
    {% endif %}
</div>
