---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
  <link rel="stylesheet" href="/assets/css/project.css">
</head>

<body>
  {% include navbar.html %}

  <section class="hero is-fullheight has-text-centered" id="post">
    <div class="hero-body">
      <div class="container">
        <a href="{{page.url | relative_url}}" class="has-text-black" id="title">
          <h1 class="title has-text-centered is-2 has-text-weight-semibold ">{{page.title}}</h1>
        </a>
        <hr class="has-background-black">
        <div class="columns is-variable is-5">
          <div class="column is-6">
            <figure class="image is-16by9 has-shadow">
              <img src="{{page.image}}" alt="{{post.title}}" id="post-image">
            </figure>
          </div>
          <div class="subtitle column is-5 has-text-left-desktop has-text-left-fullhd has-text-left-tablet has-text-center-mobile">
            {% unless page.description.size == 0 %}
            <p id="description" class="content is-small has-text-weight-medium is-uppercase">{{page.description | strip | strip_html | strip_newlines }}</p>
            {% endunless %}
            {% unless page.date == null %}
            <p class="subtitle is-6 is-uppercase has-text-weight-normal has-text-black-ter">Released on
              <b>{{ page.date | date: "%-B %d, %Y" }}</b>
              </a>
            </p>
            {% else %}
            <p class="subtitle is-6 is-uppercase has-text-weight-normal has-text-black-ter"><b>Unreleased</b></p>
            {% endunless %}
            {%- assign tags = page.tags -%}
            {%- unless tags.size == 0 -%}
            <p class="subtitle is-uppercase">
              <i class="fas fa-tags"></i>
              {% assign i = 0 %}
              {% for tag in page.tags %}
              <span class="tag is-link">{{page.tags[i]}}</span>
              {% assign i = i | plus:1 %}
              {% endfor %}
            </p>
            {%- endunless -%}
            {% if page.platforms %}
            <div class="platform-list">
              {% for platform in page.platforms %}
                <a href="{{ platform.url }}" class="platform-link" {% if platform.url == "#" %}title="Store link coming soon"{% endif %} target="_blank" rel="noopener noreferrer">
                  {%if platform.name == 'switch' %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-nintendo-switch" viewBox="0 0 16 16">
                    <path d="M9.34 8.005c0-4.38.01-7.972.023-7.982C9.373.01 10.036 0 10.831 0c1.153 0 1.51.01 1.743.05 1.73.298 3.045 1.6 3.373 3.326.046.242.053.809.053 4.61 0 4.06.005 4.537-.123 4.976-.022.076-.048.15-.08.242a4.14 4.14 0 0 1-3.426 2.767c-.317.033-2.889.046-2.978.013-.05-.02-.053-.752-.053-7.979m4.675.269a1.62 1.62 0 0 0-1.113-1.034 1.61 1.61 0 0 0-1.938 1.073 1.9 1.9 0 0 0-.014.935 1.63 1.63 0 0 0 1.952 1.107c.51-.136.908-.504 1.11-1.028.11-.285.113-.742.003-1.053M3.71 3.317c-.208.04-.526.199-.695.348-.348.301-.52.729-.494 1.232.013.262.03.332.136.544.155.321.39.556.712.715.222.11.278.123.567.133.261.01.354 0 .53-.06.719-.242 1.153-.94 1.03-1.656-.142-.852-.95-1.422-1.786-1.256"/>
                    <path d="M3.425.053a4.14 4.14 0 0 0-3.28 3.015C0 3.628-.01 3.956.005 8.3c.01 3.99.014 4.082.08 4.39.368 1.66 1.548 2.844 3.224 3.235.22.05.497.06 2.29.07 1.856.012 2.048.009 2.097-.04.05-.05.053-.69.053-7.94 0-5.374-.01-7.906-.033-7.952-.033-.06-.09-.063-2.03-.06-1.578.004-2.052.014-2.26.05Zm3 14.665-1.35-.016c-1.242-.013-1.375-.02-1.623-.083a2.81 2.81 0 0 1-2.08-2.167c-.074-.335-.074-8.579-.004-8.907a2.85 2.85 0 0 1 1.716-2.05c.438-.176.64-.196 2.058-.2l1.282-.003v13.426Z"/>
                  </svg>
                  {% else %}
                  <i class="platform-icon  
                    {% case platform.name %}
                      {% when 'windows' %}
                        fa-brands fa-windows
                      {% when 'macos' %}
                        fa-brands fa-apple
                      {% when 'linux' %}
                        fa-brands fa-linux
                      {% when 'android' %}
                        fa-brands fa-android
                      {% when 'ios' %}
                        fa-brands fa-app-store-ios
                      {% when 'ps5' %}
                        fa-brands fa-playstation
                      {% when 'xbox' %}
                        fa-brands fa-xbox
                      {% when 'web' %}
                        fa-solid fa-globe
                      {% when 'steam' %}
                        fa-brands fa-steam
                      {% when 'itchio' %}
                        fa-brands fa-itch-io
                    {% endcase %}">
                  </i>
                  {% endif %}
                </a>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
        <div class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet has-text-left-mobile">
          <p>{{ content }}</p>
        </div>
      </div>
    </div>
  </section>
  {% include footer.html %}
</body>

</html>